/* .list-wrapper {  
  border: 1px solid lightgrey;
  display: flex;
  align-items: center;
  padding: 0px 2rem;
  min-width: 80%;
  min-height: 7vh;
}

.feed-list {
    display: flex;
    background-color: #fff;    
}

.feed-list-task {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

li {
    list-style-type: none;
}

.Messages-conteiner, .task-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: 100%;
  padding: 0px 2rem;
}

.activities-counter, .messages-counter, .tasks-counter {
background-color: #5584ff;
color: #ffff;
border-radius: 50%;
height: 30px;
width: 30px;
display: flex;
justify-content: center;
align-items: center;
}

.tasks-expiration {
background-color: #f83c7b;
color: #ffff;
border-radius: 50%;
height: 30px;
width: 30px;
display: flex;
justify-content: center;
align-items: center;
}

.user-name {
font-weight: bold;
text-decoration: none;
font-size: 14px;
}

.list-wrapper .content-list {
  display:flex;
  width: 100%;
}

.message-img{
  width: 43px;
  height: 43px;
  border-radius: 50%;
}

.content-wrapper {
  margin-left: 0.5rem !important;
  min-width: 7vw;
}
.counter{
  display: flex;
}
.subtitle {
  font-size: 13px;  
} */