.page-wrapper {
    display: flex;
    flex-direction: column;
    background-color: lightgrey;

    .content-title {
        padding: 10px 0;
        color:#000
    }
    
    .content-title h2 {
        font-size:20px;
    }

    

    
    
}
