.header {
    display:flex;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding:15px;    
    z-index: 10; 

    .search-btn {
        padding:0;
        background-color: #fff;
        border:0;
        outline: 0;
    
        &:active {
            visibility: hidden;
        }
    }
    
    .header-left {
        display:flex;
        align-items: center;
        margin-left: auto;

        button {
            border:1px solid #dadee7;
            padding:9px 14px;
            border-radius: 30px;
            outline: none;
            color: #fff;
            background-color: #5584ff;
        }       
    }
}