/* .navbar-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
  list-style: none;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.sidebar {
  width: 5rem;
  min-height: 100vh;
  background-color: #0E1A35;
  transition: 0.3s;
}

@media (min-width: 768px) {
  .sidebar {
      width: 14rem!important;
      
  }
}
.sidebar .sidebar-brand {
  color: #fff;
  height: 4.375rem;
  text-decoration: none;
  font-weight: 600;
}
@media (min-width: 768px) {
.sidebar .sidebar-brand .sidebar-brand-text {
      display: inline;
      color: #fff;
  } 
}
@media (min-width: 768px) {
.sidebar .sidebar-brand .sidebar-brand-icon i {
      font-size: 1rem;
  }  
}

.align-items-center {
  align-items: center!important;
}

.sidebar .nav-item {
  position: relative;
  
}
.sidebar .nav-item:hover {
  border-left: 5px solid #5584FF;
  background-color: #122143;
}

@media (min-width: 768px) {
  .sidebar .nav-item .nav-link {
      display: block;
      width: 100%;
      text-align: left;
      padding: 1rem;
      width: 14rem;
      color: #FFF;
      position: relative;
  }
}

.accordion {
  overflow-anchor: none;
}

.bg-gradient-primary {
  background-size: cover;
}

.ml-3, .mx-3 {
  margin-left: 1rem!important;
}
.mr-3, .mx-3 {
  margin-right: 1rem!important;
}

.fa, .fas {
  font-weight: 900;
}

.closebtn {
  margin-left: 10rem !important;
  color: lightgrey;
} */
