.navbar {
    background-color: #0e1a35;
flex:0 0 200px;
max-width: 200px;
    .navbar-list  {
        display: flex;
        flex-direction: column;
        a  {
            border-left:4px solid transparent;
            display: block;        
            color: #fff;
            text-decoration: none;
            padding:18px 15px 18px 30px;
            border-bottom: 1px solid #0d172e;
           &:hover {
                cursor:pointer;
                background-color:#122143;
                border-left: 4px solid #5584ff;
            }
        }

     }
    
}

.resize {
    flex:0 0 100px;
}