// .app > * {
//     flex: 1 100%;

  .app {
    display: flex;
    flex: 100%;
 
    .main {
        display: flex;
    }
//     // .header {
//     //     display: flex;

//     // }

//     // .navbar {
//     //     display: flex;
        
//     // }

//     // .page-wrapper {
//     //     display: flex;
    
//     // }
//   }
}